<!DOCTYPE html>
<html>
    <title>{{title}}</title>

<head>
    <meta charset="UTF-g">
    <!--title>CogenicIntel</title-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<form method="GET" action="/hello-screen">

    <body class="welcome">
        <div class="hello-content">
            <header>
                <h1 class="hello-title">Hello<span id="hello-dot"></span></h1>
            </header>

            <!--div class="vida-design" onclick="document.forms[0].submit()">
                <!--svg width="560" height="560">
                    <!--circle class="vida-outer" cx="280" cy="280" r="273" /-->
                    <!--circle class="vida-middle" cx="280" cy="280" r="212" /-->
                    <!--circle class="vida-inner" cx="280" cy="280" r="137" />
                </svg>
            </div-->
                <input type="image" id="demo" src= "/images/IdleV4.gif" class="vida-hello">

        </div>


        {{!-- <div class="highlight">
            <input type="image" src="/images/vida.gif" name="saveForm" id="center" id="saveForm">
        </div>
        <p class="Begin" type="button">Say "hello vida" to begin...</p> --}}
    </body>
</form>



<script src="js/home.bundle.js"></script>
</html>
