<html>
<head>
<title>{{title}}</title>
            <link rel="stylesheet" href="/css/style.css">
            <h1 class="Error-Login">{{message}}</h1>
</head>

<body class="class-for-home">
</br>
<div class="home-image">
<p id="demo">. </p>

</div>

    <div class="box">
            <h2 class="Login-text"> Login</h2>
              </br>
        <form method="POST" action="/login">
              <div class="form-group">
              <Label for="username" >Username</label>
              </br>
                <!--label for="username">Username</label-->
                <input type="text" name="username" class="form-control" placeholder="Username">
              </div>
              <div class="form-group">
                  <label for="password" class="form-group">Password</label>
              </br>
                  <input type="password" name="password" class="form-control" placeholder="Password">
              </br>
              <button class="form-group"  type="submit">Sign in</button>
              </div>
         
        </form>
        </div>
</body>
</html>
