<!DOCTYPE html>
<html>
<title>{{title}}</title>

<head>
    <meta charset="UTF-g">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Opening Screen</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="options-screen">
    <form method="POST" action="/opening-screen">
        <div class="row">

            <div class="vida-indicator">
                <div class="vida-light" onclick="document.forms[0].submit()">
                    <input type="image" src="/images/stable-vida.gif" class="logo">
                </div>
                <div class="date-time">
                    <p id="date">Wednesday June 29</p>
                    <p class="small-time" id="time">10:12 AM</p>
                </div>
            </div>


        </div>
    </form>


    <div class="options-title">
        <h2 id="didumean">Did you mean?</h2>
        <hr class="divider">
    </div>

    <div class="options">
        <ul class="cards">
            <li class="cards_item col-4">
                <div class="card">
                    <div class="images-highlight">
                        <form method="GET" action="/option-restrooms">
                            <input type="image" class="card_image" src="/images/option_restroom.png">
                        </form>
                    </div>
                    <h3 class="card_title">Restrooms</h2>
                        <hr class="underline">
                </div>
            </li>
            <li class="cards_item col-4">
                <div class="card">
                    <div class="images-highlight">
                        <form method="GET" action="/option-rooms">
                            <input type="image" class="card_image" src="/images/option_room.png">
                        </form>
                    </div>
                    <h3 class="card_title">Rooms</h2>
                        <hr class="underline">
                </div>
            </li>
            <li class="cards_item col-4">
                <div class="card">
                    <div class="images-highlight">
                        <form method="GET" action="/option-amenities">
                            <input type="image" class="card_image" src="/images/option_amenities.png">
                        </form>
                    </div>
                    <h3 class="card_title">Amenities</h2>
                        <hr class="underline">
                </div>
            </li>
        </ul>
    </div>

    <form method="GET" action="/logout">
        <button type="submit" class="logout-btn">logout</button>
    </form>

</body>

<script>
    function getDate() {
        var today = new Date();

        var weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var weekday = today.getDay();
        var month = today.getMonth();
        var day = today.getDate();

        document.getElementById('date').innerHTML = `${weekdays[weekday]} ${months[month]} ${day}`;


        var time = today.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        document.getElementById('time').innerHTML = time;

        var t = setTimeout(getDate, 1000);
    }

    getDate();
</script>
{{!-- <script src="..\src\date-time.js"></script> --}}
{{!-- <script src="js/home.bundle.js"></script> --}}

</html>
