<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="option-rooms">
    <form method="POST" action="/options-screen">
        <div class="row amenities-header">
            <div class="vida-indicator col-6">
                <div class="vida-light" onclick="document.forms[0].submit()">
                    <input type="image" src="/images/vida-circle.png" class="logo">
                </div>
                <div class="line">
                    <p id="vida-action">listening</p>
                    </br>
                    <hr id="vida-wave">
                </div>
            </div>

            <div class="date-time col-6">
                <p id="date">Wednesday June 29</p>
                <p class="large-time" id="time">10:12 AM</p>
            </div>
        </div>
    </form>

    <div class="row rooms-title">
        <h2 class="title-caps">ROOMS</h2>
        <hr class="divider rooms-divider">
    </div>

    <div class="rooms_stuff">

        <div class="rooms_menu">
            <div class="rate">
                <div class="select-box rate-box">
                    <div class="rate-options-container">
                        <div class="rate-option">
                            <input type="radio" class="radio" id="sapphire-rate" name="category" />
                            <label for="sapphire">SAPPHIRE RATE - FROM $122.00</label>
                        </div>
                        <hr class="option-divider">
                        <div class="rate-option">
                            <input type="radio" class="radio" id="aaa-rate" name="category" />
                            <label for="aaa">AAA RATE - FROM $130.00</label>
                        </div>
                        <hr class="option-divider">
                        <div class="rate-option">
                            <input type="radio" class="radio" id="military-rate" name="category" />
                            <label for="military-rate">MILITARY RATE - FROM $110.00</label>
                        </div>
                        <hr class="option-divider-last">
                    </div>

                    <div class="rate-selected">
                        IMPERION RATE - FROM $150
                    </div>
                </div>
            </div>
            <div class="allrooms">
                <div class="select-box allrooms-box">
                    <div class="allrooms-options-container">
                        <div class="allrooms-option">
                            <input type="radio" class="radio" id="city-room" name="category" />
                            <label for="city-room">CITY ROOM</label>
                        </div>
                        <hr class="option-divider">
                        <div class="allrooms-option">
                            <input type="radio" class="radio" id="terrace-room" name="category" />
                            <label for="terrace-room">TERRACE ROOM</label>
                        </div>
                        <hr class="option-divider">
                        <div class="allrooms-option">
                            <input type="radio" class="radio" id="skyvilla-room" name="category" />
                            <label for="skyvilla-room">SKY VILLA SUITE</label>
                        </div>
                        <hr class="option-divider">
                        <div class="allrooms-option">
                            <input type="radio" class="radio" id="imperial-room" name="category" />
                            <label for="imperial-room">IMPERIAL SUITE</label>
                        </div>
                        <hr class="option-divider">
                        <div class="allrooms-option">
                            <input type="radio" class="radio" id="empress-room" name="category" />
                            <label for="empress-room">EMPRESS SUITE</label>
                        </div>
                        <hr class="option-divider">
                        <div class="allrooms-option">
                            <input type="radio" class="radio" id="kingdom-room" name="category" />
                            <label for="kingdom-room">KINGDOM SUITE</label>
                        </div>
                        <hr class="option-divider-last">
                    </div>

                    <div class="allrooms-selected">
                        ALL ROOMS
                    </div>
                </div>
            </div>
            <div class="addcode">
                <div class="select-box addcode-box">
                    <div class="addcode-options-container">
                        <div class="addcode-option addcode-rateaccess">
                            <input type="radio" class="radio" id="rateaccess" name="category" />
                            <label for="rateaccess">Rate Access/Corporate<span class="down-arrow"></span></label>
                        </div>
                        <div class="addcode-option addcode-input">
                            <input type="radio" class="radio" id="inputfield" name="category" />
                            <label for="inputfield"> </label>
                        </div>
                        <div class="addcode-option addcode-cancel">
                            <input type="radio" class="radio" id="cancel" name="category" />
                            <label for="cancel">CANCEL</label>
                        </div>
                        <div class="addcode-option addcode-add">
                            <input type="radio" class="radio" id="add" name="category" />
                            <label for="add">ADD</label>
                        </div>
                    </div>

                    <div class="addcode-selected">
                        ADD CODE
                    </div>
                </div>
            </div>
        </div>


        <div class="room_items">
            <ul class="room_cards">
                <li class="room_cards-item">
                    <div class="room_card">
                        <div class="room_card-image">
                            <img src="/images/city-room.png">
                        </div>
                        <div class="room_card-content">
                            <h3 class="room_card-title">CITY ROOM</h3>
                            <div class="room_card-detail">
                                <div class="room_price-book">
                                    <p class="room_price">$200.00</p>
                                    <button class="btn room_book">BOOK NOW</button>
                                </div>
                                <div class="room_card-specs">
                                    <span class="specs-icon person-icon"></span>
                                    4 People
                                    <hr class="spec-divider">
                                    <span class="specs-icon bed-icon"></span>
                                    2 Queen Bed
                                    <hr class="spec-divider">
                                    <span class="specs-icon ruler-icon"></span>
                                    460 ft / 43 m2
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <hr class="room-divider">
                <li class="room_cards-item">
                    <div class="room_card">
                        <div class="room_card-image">
                            <img src="/images/terrace-room.png">
                        </div>
                        <div class="room_card-content">
                            <h3 class="room_card-title">TERRACE ROOM</h3>
                            <div class="room_card-detail">
                                <div class="room_price-book">
                                    <p class="room_price">$200.00</p>
                                    <button class="btn room_book">BOOK NOW</button>
                                </div>
                                <div class="room_card-specs">
                                    <span class="specs-icon person-icon"></span>
                                    4 People
                                    <hr class="spec-divider">
                                    <span class="specs-icon bed-icon"></span>
                                    1 King Bed
                                    <hr class="spec-divider">
                                    <span class="specs-icon ruler-icon"></span>
                                    620 ft / 58 m
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <hr class="room-divider">
                <li class="room_cards-item">
                    <div class="room_card">
                        <div class="room_card-image">
                            <img src="/images/skyvilla-room.png">
                        </div>
                        <div class="room_card-content">
                            <h3 class="room_card-title">SKY VILLA ROOM</h3>
                            <div class="room_card-detail">
                                <div class="room_price-book">
                                    <p class="room_price">$200.00</p>
                                    <button class="btn room_book">BOOK NOW</button>
                                </div>
                                <div class="room_card-specs">
                                    <span class="specs-icon person-icon"></span>
                                    8 People
                                    <hr class="spec-divider">
                                    <span class="specs-icon bed-icon"></span>
                                    3 King Bed
                                    <hr class="spec-divider">
                                    <span class="specs-icon ruler-icon"></span>
                                    1040 ft / 100 m

                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</body>

<script>
    function getDate() {
        var today = new Date();

        var weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var weekday = today.getDay();
        var month = today.getMonth();
        var day = today.getDate();

        document.getElementById('date').innerHTML = `${weekdays[weekday]} ${months[month]} ${day}`;


        var time = today.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        document.getElementById('time').innerHTML = time;

        var t = setTimeout(getDate, 1000);
    }

    getDate();
</script>

<script>
    const rateSelected = document.querySelector(".rate-selected");
    const allroomsSelected = document.querySelector(".allrooms-selected");
    const addcodeSelected = document.querySelector(".addcode-selected");

    const rateOptionsContainer = document.querySelector(".rate-options-container");
    const allroomsOptionsContainer = document.querySelector(".allrooms-options-container");
    const addcodeOptionsContainer = document.querySelector(".addcode-options-container");

    const rateOptionsList = document.querySelectorAll(".rate-option");
    const allroomsOptionsList = document.querySelectorAll(".allrooms-option");
    const addcodeOptionsList = document.querySelectorAll(".addcode-option");

    // Selected rate menu
    rateSelected.addEventListener("click", () => {
        rateOptionsContainer.classList.toggle("active");
    });

    rateOptionsList.forEach(o => {
        o.addEventListener("click", () => {
            rateSelected.innerHTML = o.querySelector("label").innerHTML;
            rateOptionsContainer.classList.remove("active");
        });
    });

    // Selected all rooms menu
    allroomsSelected.addEventListener("click", () => {
        allroomsOptionsContainer.classList.toggle("active");
    });

    allroomsOptionsList.forEach(o => {
        o.addEventListener("click", () => {
            allroomsSelected.innerHTML = o.querySelector("label").innerHTML;
            allroomsOptionsContainer.classList.remove("active");
        });
    });

    // Selected add code menu
    addcodeSelected.addEventListener("click", () => {
        addcodeOptionsContainer.classList.toggle("active");
    });

    addcodeOptionsList.forEach(o => {
        o.addEventListener("click", () => {
            //addcodeSelected.innerHTML = o.querySelector("label").innerHTML;
            addcodeOptionsContainer.classList.remove("active");
        });
    });
</script>

</html>