<!DOCTYPE html>
<html>
    <title>{{title}}</title>
    <head>
        <meta charset="UTF-g">
        <title>Opening Screen</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <header class="home-time">
        <h1>Wednesday Aug 7</h1>
        <h2>2:13 PM</h2>
   </header>
    <form method="POST" action="/options-screen">
     <div class="menu-button">
           <input type="image" src="/images/homebutton.png" name="saveForm" class="vida" id="saveForm" >
    </div>
    </form>
    <body class="options-screen">

        
        <div class="Bars".>
            <p>Did you mean?</p>


        <div class="images".>
        <div class="images-highlight".>
           <input type="image" src="/images/restrooms-logo.png" name="saveForm">
        </div>
        <div class="images-highlight".>
           <input type="image" src="/images/classrooms-logo.png" name="saveForm">
        </div>
        <div class="images-highlight".>
           <input type="image" src="/images/staff_info.png" name="saveForm"  class="Staff">
        </div>
        </div>
        </div>
    <form method="POST" action="/opening-screen">
        <div class="vida-highlight".>
        <input type="image" src="/images/vida-logo.png" class="logo">
        </div>
    </form>
 
    <div class="line".>
            <p2>listening</p2>
            </br>
             <p1>________________________________________</p1>
     </div>
    </body>
</html>
