<!doctype html>
<html lang="en">
<title>{{title}}</title>
<head>
    <meta charset="UTF-g">
    <link rel="stylesheet" href="/css/style.css">
    <h1>{{title}}</h1>
    </br>
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger" role="alert">
                {{this.msg}}
            </div>
        {{/each}}
    {{/if}}
</head>


<body>
    <form method="POST" action="/training">
    <label for "triggers" class='trainingM'>Triggers</label>
    </br>
        <div class="triggers">
            <input type="text"> </input>
            <div class="verbal triggers">
                <input type="text"> </input>
            </div>
        </div>


        <div class="responses">



        </div>

    </form>
</body>

</html>

<!--div class="form-group">
    <label for="trigger">Trigger</label>
    <input type="text" name="trigger"  placeholder="Enter trigger">
  </div>
  <div class="form-group">
    <label for="response">Response</label>
 <input type="response" name="response"  placeholder="Enter response">
  </div>
 <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form-->

