<!DOCTYPE html>
<html>
<title>{{title}}</title>
    <head>
        <meta charset="UTF-g">
        <!--title>CogenicIntel</title-->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <form method="POST" action="/welcome-screen">
    <body class="welcome">
        <header>
            <h1 class="welcome-hello">H e l l o</h1>
       </header>
       
        <div class="highlight">
           <input type="image" src="/images/welcome-screen.png" name="saveForm" id="center" id="saveForm" >
        </div>

    </body>
    </form>
</html>
