.class-for-home {
  background-color: #18191D; }

.home-image {
  background-image: url(../images/Cogenic.png);
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  padding: 70px 100px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.Error-Login {
  background-color: white;
  font-size: 24px;
  color: red;
  width: 50%;
  text-align: center; }

.box {
  position: absolute;
  padding: 5% 3%;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  display: block;
  margin-top: 2%;
  background-color: white;
  border-radius: 15px;
  border: 1px solid white; }

.Login-text {
  width: 30%;
  margin: -7% 0%; }

.box .form-group {
  margin: 4% 0%;
  font-size: 20px; }
.welcome {
  background-color: black; }

.welcome-hello {
  position: absolute;
  top: 0;
  font-size: relative;
  font-size: 6vw;
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
  font-family: "Lucida Console", Courier, monospace; }

.highlight input:hover {
  opacity: .5; }

.highlight {
  position: absolute;
  margin-left: 30%;
  bottom: 25%; }

.Begin {
  position: absolute;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px solid blue;
  bottom: 20%;
  margin-left: 37%;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  cursor: pointer; }
.opening-screen {
  position: relative;
  background-color: black;
  margin: 0px 40px;
  height: 535px;
  width: auto; }

.opening-header {
  position: absolute;
  margin-left: 50%;
  width: 45%;
  font-size: 1vw;
  color: white;
  padding: 10px;
  font-family: "Lucida Console", Courier, monospace; }

.opening-screen > p {
  position: relative;
  font-size: 50px;
  color: white;
  font-weight: bold;
  width: 350px;
  padding: 10px;
  margin: 0px 30px; }

.opening-screen > p1 {
  position: relative;
  color: white;
  top: 33%;
  font-size: 3vw;
  width: 400px;
  padding: 10px;
  margin: 10px 20px; }

.example {
  position: absolute;
  top: 42%;
  font-size: 22px;
  color: white;
  line-height: 1.2;
  left: 5%;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 10px 10px; }

.slideshow-container {
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 500px; }

.text {
  border-radius: 25px;
  background: #076167;
  color: white;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  font-style: inherit;
  margin: 40px 75px;
  padding: 5px 0px;
  width: 80%;
  height: 4%; }

.example > p6 {
  width: 200px;
  color: white;
  height: 50px; }

.example > p7 {
  width: 200px;
  color: white;
  height: 50px; }

.active {
  background-color: white; }

.opening-vida {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 40vw;
  height: 50vh; }

.opening-screen > p3 {
  position: relative;
  color: white;
  font-size: 34px;
  width: 400px;
  margin: 0px 40%; }

#visualizer {
  position: absolute;
  top: 100%;
  margin: 0px 50%; }

.listening {
  font-size: 20vw;
  width: 20%; }

/* return Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
input[type='image']:focus {
  outline: 0; }

.options-screen {
  background-color: #18191D; }

.home-time {
  margin-left: 80%;
  font-size: 20px;
  color: white;
  padding: 10px;
  font-family: "Lucida Console", Courier, monospace; }

.menu-button {
  position: absolute;
  top: 0%;
  background-color: white;
  width: 120px;
  height: 90px; }

.menu-button input:hover {
  opacity: .5; }

.Bars > p {
  font-size: 50px;
  color: white;
  margin-top: 0px;
  line-height: 1.2; }

.images::after {
  content: "";
  clear: both;
  display: table; }

.images-highlight {
  float: left;
  width: auto;
  height: 500px;
  margin-left: 200px;
  background-color: white; }

.images input:hover {
  opacity: .5; }

.line {
  margin-left: 60%; }

.line > p1 {
  color: white;
  font-size: 40px;
  right: 40px; }

.line > p2 {
  color: white;
  font-size: 40px;
  margin-top: 100px; }

.logo {
  width: 150px; }

.vida-highlight {
  width: 150px;
  margin-top: 10px;
  margin-left: 90%;
  height: 124px;
  background-color: white; }

.vida-highlight input:hover {
  opacity: .5; }
.trainingM {
  font-size: 30px; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuLi9jc3Mvc3R5bGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/