.class-for-home {
  background-color: #18191D; }

.home-image {
  background-image: url(../images/Cogenic.png);
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  padding: 70px 100px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.Error-Login {
  background-color: white;
  font-size: 24px;
  color: red;
  width: 50%;
  text-align: center; }

.box {
  position: absolute;
  padding: 5% 3%;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  display: block;
  margin-top: 2%;
  background-color: white;
  border-radius: 15px;
  border: 1px solid white; }

.Login-text {
  width: 30%;
  margin: -7% 0%; }

.box .form-group {
  margin: 4% 0%;
  font-size: 20px; }
.welcome {
  background-color: #14171B; }

.hello-content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.hello-title {
  margin: auto;
  margin-bottom: 35px;
  color: #FFFFFF;
  font: 155px Arial;
  letter-spacing: 9.3px; }

#hello-dot {
  width: 13px;
  height: 13px;
  background-color: #FF926A;
  border-radius: 50%;
  display: inline-block; }

.vida-design {
  position: relative;
  cursor: pointer; }

.vida-outer {
  stroke: white;
  stroke-width: 10;
  fill: none; }

.vida-middle {
  stroke: #1DE6D9;
  stroke-width: 21;
  fill: none;
  stroke-dasharray: 4 25; }

.vida-inner {
  fill: #FF926A; }

.highlight input:hover {
  opacity: .5; }

.highlight {
  position: absolute;
  margin-left: 30%;
  bottom: 25%; }

.Begin {
  position: absolute;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px solid blue;
  bottom: 20%;
  margin-left: 37%;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  cursor: pointer; }
.opening-screen {
  position: relative;
  background-color: black;
  margin: 0px 40px;
  height: 535px;
  width: auto; }

.opening-header {
  position: absolute;
  margin-left: 50%;
  width: 45%;
  font-size: 1vw;
  color: white;
  padding: 10px;
  font-family: "Lucida Console", Courier, monospace; }

.opening-screen > p {
  position: relative;
  font-size: 50px;
  color: white;
  font-weight: bold;
  width: 350px;
  padding: 10px;
  margin: 0px 30px; }

.opening-screen > p1 {
  position: relative;
  color: white;
  top: 33%;
  font-size: 3vw;
  width: 400px;
  padding: 10px;
  margin: 10px 20px; }

.example {
  position: absolute;
  top: 42%;
  font-size: 22px;
  color: white;
  line-height: 1.2;
  left: 5%;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 10px 10px; }

.slideshow-container {
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 500px; }

.text {
  border-radius: 25px;
  background: #076167;
  color: white;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  font-style: inherit;
  margin: 40px 75px;
  padding: 5px 0px;
  width: 80%;
  height: 4%; }

.example > p6 {
  width: 200px;
  color: white;
  height: 50px; }

.example > p7 {
  width: 200px;
  color: white;
  height: 50px; }

.active {
  background-color: white; }

.opening-vida {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 40vw;
  height: 50vh; }

.opening-screen > p3 {
  position: relative;
  color: white;
  font-size: 34px;
  width: 400px;
  margin: 0px 40%; }

#visualizer {
  position: absolute;
  top: 100%;
  margin: 0px 50%; }

.listening {
  font-size: 20vw;
  width: 20%; }

/* return Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
/* Design */
*,
*::before,
*::after {
  box-sizing: border-box; }

input[type='image']:focus {
  outline: 0; }

.options-screen {
  background-color: #18191D;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 35px 50px;
  max-width: 1440px;
  margin: 0 auto; }

.vida-indicator {
  display: flex; }

.logo {
  width: 124px; }

.vida-light {
  width: 124px;
  height: 124px;
  background-color: white;
  border-radius: 50%; }

.vida-light input:hover {
  opacity: .8; }

.line {
  margin-top: 25px;
  margin-left: 25px;
  width: 250px; }

#vida-action {
  color: #ABABAB;
  font-size: 14px;
  letter-spacing: 0.84px; }

#vida-wave {
  color: white;
  width: 100%; }

p {
  margin: auto;
  clear: both;
  margin-right: 16px; }

#date {
  font-size: 26px;
  color: #ABABAB;
  letter-spacing: 1.56px;
  margin-top: 25px;
  float: right; }

#time {
  font-weight: bold;
  color: #F1F1F1;
  float: right; }

.small-time {
  font-size: 53px;
  letter-spacing: 3.18px; }

.options-title {
  padding: 0 16px; }

#didumean {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #F1F1F1;
  margin: 25px 0; }

hr.divider {
  border: 1px solid #05818A; }

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.cards_item {
  display: flex;
  padding: 1rem; }

@media (min-width: 40rem) {
  .cards_item {
    width: 50%; } }

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%; } }

.card {
  /* background-color: white; */
  border-radius: 0.25rem;
  /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.images-highlight {
  background-color: white;
  overflow: hidden;
  cursor: pointer; }

.card_image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  transition: transform .5s ease; }

.card_image:hover {
  transform: scale(1.5); }

.card_title {
  color: #E9E4E4;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2.7px;
  text-transform: capitalize;
  margin: 15px 0 0; }

hr.underline {
  border: 1px solid #05818A;
  width: 70px;
  margin-left: 0; }

.logout-btn {
  border: 2px solid white;
  background-color: #18191D;
  color: #FFFFFF;
  width: 173px;
  height: 50px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 15px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left; }

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .options-screen {
    padding: 1.5rem 1.5rem; }
  /* Reduce the container width */
  #date {
    font-size: 20px;
    margin-top: 16px; }
  #time {
    font-size: 30px; }
  #didumean {
    font-size: 40px;
    margin: 16px 0; } }
.option-amenities {
  background-color: #14171B;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 35px 35px;
  max-width: 1440px;
  margin: 0 auto; }

.amenities-header {
  padding-left: 15px; }

.large-time {
  font-size: 80px;
  letter-spacing: 4.8px; }

.title-caps {
  font-size: 40px;
  text-align: center;
  margin: 0 0 2% 0; }

.amenities-body {
  background-image: url(../images/amenities-background.png);
  display: flex;
  margin-top: 1%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem; }

.amenities-subtitle {
  color: #FF926A;
  font-size: 22px;
  font-style: italic;
  margin: 15% 0 10% 0; }

.body-empty {
  width: 55%; }

.body-content {
  background-color: #141414BF;
  opacity: 90%;
  text-align: center;
  width: 45%; }

.amenities-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0 5%;
  display: inline-block; }

.amenities-body li {
  display: inline-block;
  font-size: 20px;
  padding: 8% 5%;
  border-bottom: 1px solid #B5B3B3;
  width: 90%; }

.amenities-body li:hover {
  background: #5e5e5e;
  transition: all 400ms; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left; }

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; } }

@media only screen and (max-width: 985px) {
  /* For tablet: */
  .large-time {
    font-size: 64px; }
  .body-empty {
    width: 0; }
  .body-content {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .amenities-header {
    padding: 0; }
  .option-amenities {
    padding: 1.5rem 1.5rem; }
  /* Reduce the container width */
  #date {
    font-size: 20px;
    margin-top: 16px; }
  #time {
    font-size: 30px; }
  .amenities-body {
    height: 850px;
    background-position: center; } }
.option-rooms {
  background-color: #14171B;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 35px 35px;
  max-width: 1440px;
  margin: 0 12px; }

.rooms-divider {
  margin-left: 8%; }

.rooms_stuff {
  display: flex;
  z-index: 0;
  position: relative; }

.rooms_menu {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  z-index: 1;
  width: 100%; }

.rate-box {
  width: 420px; }

.allrooms-box {
  width: 280px; }

.addcode-box {
  width: 400px; }

.select-box {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.375rem;
  background: #14171B;
  display: flex;
  flex-direction: column; }
  .select-box .rate-options-container,
  .select-box .allrooms-options-container,
  .select-box .addcode-options-container {
    background: #14171B;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    position: relative;
    order: 1; }
  .select-box .rate-options-container.active,
  .select-box .allrooms-options-container.active,
  .select-box .addcode-options-container.active {
    max-height: 100%;
    opacity: 1; }
    .select-box .rate-options-container.active + .rate-selected::after, .select-box .rate-options-container.active + .allrooms-selected::after, .select-box .rate-options-container.active + .addcode-selected::after,
    .select-box .allrooms-options-container.active + .rate-selected::after,
    .select-box .allrooms-options-container.active + .allrooms-selected::after,
    .select-box .allrooms-options-container.active + .addcode-selected::after,
    .select-box .addcode-options-container.active + .rate-selected::after,
    .select-box .addcode-options-container.active + .allrooms-selected::after,
    .select-box .addcode-options-container.active + .addcode-selected::after {
      transform: rotate(180deg);
      top: 5px; }
  .select-box .rate-option, .select-box .allrooms-option {
    padding: 12px 24px;
    cursor: pointer; }
    .select-box .rate-option:hover, .select-box .allrooms-option:hover {
      background: #414b57; }
    .select-box .rate-option .radio, .select-box .allrooms-option .radio {
      display: none; }
  .select-box .addcode-option {
    padding: 12px 24px;
    margin: 20px;
    cursor: pointer;
    width: 90%;
    border: 1px solid #707070; }
    .select-box .addcode-option .radio {
      display: none; }
  .select-box .addcode-rateaccess {
    padding-left: 30px; }
    .select-box .addcode-rateaccess .down-arrow {
      text-align: center;
      position: absolute;
      background-image: url(../images/icon_material_keyboard_arrow_down.png);
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      float: right;
      top: 45px;
      right: 45px; }
  .select-box .addcode-input {
    height: 56px; }
  .select-box .addcode-cancel, .select-box .addcode-add {
    text-align: center;
    font-weight: bold; }
  .select-box .addcode-add {
    border: none;
    background-color: #1DE6D9;
    color: black; }
  .select-box label {
    cursor: pointer; }

.rate-selected, .allrooms-selected, .addcode-selected {
  background: #14171B;
  border-bottom: 1px solid white;
  color: #FFF2F2;
  position: relative;
  order: 0;
  margin-bottom: 10px;
  padding: 12px 24px;
  cursor: pointer;
  position: relative; }
  .rate-selected::after, .allrooms-selected::after, .addcode-selected::after {
    content: '';
    display: block;
    background: url(../images/icon_material_keyboard_arrow_down.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 50%;
    width: 20px;
    right: 10px;
    top: 20px;
    transition: all 0.2s; }

.selected:focus {
  border-top: 1px solid white; }

.option-divider {
  border-color: #707070;
  width: 80%;
  margin: 2px 0 2px 24px; }

.option-divider-last {
  border-color: #707070;
  width: 80%;
  margin: 2px 0 15px 24px; }

.room_items {
  padding: 0 5%;
  z-index: 0;
  position: absolute;
  top: 70px;
  left: 0; }

.room_cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.room_cards-item {
  display: flex;
  padding: 4% 0;
  width: 100%; }

.room_card {
  display: flex;
  flex-direction: row;
  width: 100%; }

.room_card-image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -o-object-fit: fill;
     object-fit: fill; }

.room_card-content {
  width: 100%;
  padding-left: 14%; }

.room_card-title {
  color: #ffffff;
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0; }

.room_card-detail {
  margin-left: 10%;
  width: 90%; }

.room_price-book {
  width: 100%;
  height: 76px;
  margin-top: 10%;
  margin-bottom: 10%;
  max-width: 500px; }

.room_price {
  width: 50%;
  background-color: black;
  float: left;
  margin: 0;
  height: 100%;
  text-align: center;
  padding-top: 17px;
  font-size: 2.4rem;
  color: #FFF2F2; }

.room_book {
  width: 50%;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.btn:hover {
  transform: scale(1.1);
  background-color: #1DE6D9; }

.testing {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  fill: white;
  height: 35px;
  width: 35px;
  vertical-align: middle;
  -o-object-fit: fill;
     object-fit: fill; }

.room_card-specs {
  width: 250px;
  font-size: 22px;
  color: #FFF2F2; }

.bed {
  width: 100%; }

.specs-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 30px;
  background-repeat: no-repeat;
  vertical-align: middle; }

.person-icon {
  background-image: url(../images/icon_material_person.png); }

.bed-icon {
  background-image: url(../images/icon_ionic_ios_bed.png); }

.ruler-icon {
  background-image: url(../images/icon_awesome_ruler_combined.png); }

.spec-divider {
  margin: 5% 0;
  border: 1px solid #B5B3B3; }

.room-divider {
  width: 100%; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (max-width: 1290px) {
  .rate-box {
    width: 400px; }
  .allrooms-box {
    width: 240px; }
  .addcode-box {
    width: 360px; } }

@media only screen and (max-width: 1200px) {
  .room_price {
    font-size: 2rem;
    padding-top: 21px; } }

@media only screen and (max-width: 1180px) {
  .rate-box {
    width: 360px; }
  .allrooms-box {
    width: 200px; }
  .addcode-box {
    width: 300px; }
  .select-box {
    font-size: 1.25rem; }
    .select-box .addcode-rateaccess {
      padding-left: 20px; }
      .select-box .addcode-rateaccess .down-arrow {
        right: 25px; }
  .rate-selected, .allrooms-selected, .addcode-selected {
    padding: 12px 14px; }
    .rate-selected::after, .allrooms-selected::after, .addcode-selected::after {
      width: 15px; } }

@media only screen and (max-width: 1024px) {
  .room_card-title {
    font-size: 2.5rem; }
  .room_price {
    font-size: 2rem;
    padding-top: 20px; }
  .rooms_menu {
    flex-wrap: wrap;
    align-content: center; }
  .rate-box {
    width: 270px; }
  .allrooms-box {
    width: 160px; }
  .addcode-box {
    width: 180px; }
  .select-box {
    font-size: 1rem; }
    .select-box .rate-option, .select-box .allrooms-option {
      padding: 10px 10px; }
    .select-box .addcode-option {
      margin: 12px; }
    .select-box .addcode-input {
      height: 47px; }
    .select-box .addcode-rateaccess {
      padding-left: 12px; }
      .select-box .addcode-rateaccess .down-arrow {
        width: 15px;
        height: 15px;
        top: 35px;
        right: 18px;
        background-size: contain; }
  .rate-selected, .allrooms-selected, .addcode-selected {
    padding: 12px 10px; }
    .rate-selected::after, .allrooms-selected::after, .addcode-selected::after {
      width: 15px; }
  .option-divider {
    margin-left: 10px; } }

@media only screen and (max-width: 768px) {
  /* For tablet: */
  .option-rooms {
    padding: 1.5rem 1.5rem;
    margin: 0; }
  .room_items {
    top: 160px;
    padding-bottom: 10%; }
  .room_card {
    flex-direction: column; }
  .room_card-title {
    font-size: 2.2rem;
    padding-top: 3%; }
  .room_price-book {
    height: 60px;
    margin-top: 5%;
    margin-bottom: 5%; }
  .room_price {
    font-size: 1.5rem;
    padding-top: 17px; }
  .room_book {
    font-size: 1rem; }
  .room_card-specs {
    font-size: 1rem; }
  .specs-icon {
    width: 25px;
    height: 25px;
    background-size: contain; }
  .rooms_menu {
    flex-direction: column; }
  .rate-box, .allrooms-box, .addcode-box {
    width: 270px; }
  .select-box .addcode-rateaccess .down-arrow {
    right: 30px; } }
.trainingM {
  font-size: 30px; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuLi9jc3Mvc3R5bGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/