*{
    background-color:black;
    margin:0px 0px;
    padding: 0px 0px;
}


body{

    background-color:black;
    margin:auto;
    height: auto;
    width: auto;

}

header > h1{
    position: absolute;
    right: 0px;
    width: 200px;
    font-size:20px;
    color:white;
    padding: 10px;
    font-family: "Lucida Console", Courier, monospace;

}


header > h2{
    position: absolute;
    right: 0px;
    font-size:50px;
    width: 250px;
    padding: 10px;
    color:white;
    margin:30px 0px;
    font-family: "Lucida Console", Courier, monospace;
}

.vida{
    position: absolute;
    left: 40px;
    top:5%;
    width: 70px;
    padding: 10px;
    margin:0px 0px;
}

header > h1{
    position: absolute;
    right: 0px;
    width: 200px;
    font-size:20px;
    color:white;
    padding: 10px;
    font-family: "Lucida Console", Courier, monospace;

}


header > h2{
    position: absolute;
    right: 0px;
    font-size:50px;
    width: 250px;
    padding: 10px;
    color:white;
    margin:30px 0px;
    font-family: "Lucida Console", Courier, monospace;
}

.vida{
    position: absolute;
    left: 40px;
    top:5%;
    width: 70px;
    padding: 10px;
    margin:0px 0px;
}


.Bars{
    position: absolute;
    Top:15%;
    left:5%;

}
.Bars>p{
    font-size:50px;
    color:white;
    line-height:1.2;

}

.images{
    position: absolute;
    background-color:black;
    Top:25%;
    width: 100%;
    padding-left:auto;
    padding-right:auto;

}

.Res{
    margin-left:15%;
    margin-right:25px;
}

.Clas{
    margin-left:25px;
    margin-right:25px;
 }
.Staff{
    margin-left:25px;
    margin-right:25px;

}

.line {
    position: absolute;
    bottom:13%;
    right:23%;
    width:30%;

}

.line > p1{
    color:white;
    font-size:40px;
    right:40px;

}
.line > p2{
    color:white;
    margin-left:120%;
    font-size:30px;

}

.logo{
    position: absolute;
    bottom:10%;
    width:8%;
    right:20px;

}


