.welcome {
    background-color: #14171B;
}

.hello-content {
    display: flex;
    height: 100vh;
    justify-content: center;    // centering along main axis - X axis - Horizontal
    align-items: center;  // centering along cross axis - Y axis - Vertical
    flex-direction: column;
}

.hello-title {
    // position: relative;
    // font-size:relative;
    // font-size:6vw;
    margin: auto;
    // text-align: center;
    // width: 100%;
    // margin-top:50px;
    margin-bottom:35px;
    color: #FFFFFF;
    font: 155px Arial;
    letter-spacing: 9.3px;
}

#hello-dot {
    width: 13px;
    height: 13px;
    background-color: #FF926A;
    border-radius: 50%;
    display: inline-block;
}

.vida-design {
    position: relative;
    cursor: pointer;
}

.vida-outer {
    stroke: white;
    stroke-width: 10;
    fill: none;
    
}

.vida-middle {
    stroke: #1DE6D9;
    stroke-width: 21;
    fill: none;
    stroke-dasharray: 4 25;
}

.vida-inner {
    fill: #FF926A;
}


.highlight input:hover{
    opacity: .5;
}

.highlight {
    position: absolute;
    margin-left:30%;
    bottom:25%;
}
.Begin{

    position:absolute;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 15px solid blue;
    bottom:20%;
    margin-left:37%;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    cursor: pointer

}
