.opening-screen{
    background-color: #14171B;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px 55px ;
    max-width: 1440px;
    margin: 0 auto;
}

.weather-description {
    font-size: 26px;
    color: #ABABAB;
    letter-spacing: 1.56px;
    margin: 25px 0;
}

.weather-temp {
    font-weight: bold;
    color: #F1F1F1;
    font-size: 80px;
    letter-spacing: 4.8px;
}

.weather-icon { width: 75px; }

.opening-date { margin: 25px 16px; }

.opening-time { 
    font-size: 80px;
    letter-spacing: 4.8px;
}

.title-divider { 
    width: 70px;
    margin: 5% 0;
}

.title-assist {
    font-size: 53px;
    font-weight: normal;
}

.opening-vida{ width: 90%; }


// *************** Suggestions carousel ***************

.suggest-title {
    font-size: 28px;
    color: #ABABAB;
}   

@mixin white-gradient {
    background: rgb(20,23,27);
    background: linear-gradient(0deg, rgba(20,23,27,1) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(20,23,27,1) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll-vertical {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(-120px * 7));
	}
}

// Styling
.slider {
	height: 300px;
	margin: auto;
	overflow: hidden;
    position: relative;
    margin-left: 7%;

	&::before
	{
		@include white-gradient;
		content: "";
		height: 300px;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	&::before {
		left: 0;
		top: 0;
	}
	.slide-track {
		animation: scroll-vertical $animationSpeed linear infinite;
		display: flex;
		flex-direction: column;		
	}
	.slide {
		position: relative;
		padding: 25px 0;
		width: auto;
		color: white;
		font-size: 30px;
	}
	.slide:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 50%;
        border-bottom: 2px solid #05818A;
	}
}

@media only screen and (min-width: 1246px) {
    .opening-content {
        display: grid;
        grid-template-rows: 1fr 2fr;
        .opening-title {
            grid-column: 1;
            grid-row: 1;
        }
        .vida-gif {
            grid-column: 2;
            grid-row: 1 / span 2;
            text-align: right; 
            align-self: center;
            padding-top: 5%;
        }
        .suggestions {
            grid-column: 1;
            grid-row: 2;
        }
    }
}

@media only screen and (max-width: 1245px) {
    // For smaller laptop
    .title-assist { font-size: 40px; }
    .slider .slide { font-size: 24px; }
    .opening-content {
        display: grid;
        grid-template-rows: 1fr 3fr;
        .opening-title {
            grid-column: 1;
            grid-row: 1;
        }
        .vida-gif {
            grid-column: 2;
            grid-row: 1 / span 2;
            text-align: right; 
            align-self: center;
        }
        .suggestions {
            grid-column: 1;
            grid-row: 2;
        }
    }
}

@media only screen and (max-width: 985px) {
    .weather-temp { font-size: 64px; }
}

@media only screen and (max-width: 768px) {
    // For tablet
    .opening-screen{ padding: 24px; }
    .weather-description { font-size: 20px; margin-top: 16px; }
    .weather-temp { font-size: 30px;}
    .weather-icon { width: 40px; vertical-align: middle; }
    .opening-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
        .vida-gif { text-align: center; }
    }
}

@media only screen and (min-width: 500px) {
    .opening-row { display: flex; }
    .opening-col6 { width: 50%; }
}

@media only screen and (max-width: 425px) {
    // For mobile
    .title-assist { font-size: 28px; }
    .suggest-title { font-size: 20px; }
    .slider .slide { font-size: 18px; }
}