.opening-screen{
//    background-color: #18191D; 
    position:relative;
    background-color:black;
//    border: 5px solid #3ae0e9;
    margin: 0px 40px;
    height: 535px;
    width: auto;

}


.opening-header{
    position: absolute;
//    border: 15px solid red;
    margin-left: 50%;
    width: 45%;;
    font-size:1vw;
    color:white;
    padding: 10px;
    font-family: "Lucida Console", Courier, monospace;

}


.opening-screen>p{
    position: relative;
    font-size:50px;
    color:white;
    font-weight: bold;
    width: 350px;
    padding: 10px;
    margin:0px 30px;


}

.opening-screen>p1{
    position: relative;
    color:white;
    top:33%;
    font-size:3vw;
    width: 400px;
    padding: 10px;
    margin:10px 20px;
}


.example{
    position: absolute;
    top:42%;
    font-size:22px;
    color:white;
    line-height:1.2;
    left:5%;
    width: 400px;
    height:400px;
    padding: 10px;
    margin:10px 10px;
}

.slideshow-container{
    position:relative;
    margin-top:2%;
    margin-bottom:2%;
    width:500px;
//    border: 15px solid red;


}

.text{
    border-radius: 25px;
//    background: #076167;
    background:#076167;
    color:white;
    text-align:center;

    font-size:27px;
    font-weight:bold;
    font-style:inherit;
    margin:40px 75px;
    padding: 5px 0px;
    width: 80%;
    height: 4%;
}
.example>p6{
  width: 200px;
    color:white;
  height: 50px;
}

.example>p7{
    width: 200px;
    color:white;
    height: 50px;
}

.active {
  background-color: white;
}

.opening-vida{
    position: absolute;
    top:20%;
//    border:15px solid red;
    left: 45%;
    width: 40vw;
    height:50vh;
}


.opening-screen>p3{
    position: relative;
    color:white;
    font-size:34px;
    width: 400px;
    margin:0px 40%;
}



#visualizer{
    position: absolute;
    top:100%;
    margin: 0px 50%;
}

.listening{
    font-size:20vw;
    width:20%;
}


/* return Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#music{
 //   background-color:white;
}

