.option-amenities {
    background-color: #18191D; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px 35px ;
    max-width: 1440px;
    margin: 0 auto;
}

.amenities-header {
    padding: 0 15px;
}

.large-time {
    font-size: 80px;
    letter-spacing: 4.8px;
}

.title-caps {
    font-size: 40px;
    text-align: center;
    margin: 0 0 2% 0;
}

.amenities-body {
    background-image: url("../images/amenities-background.png");
    display: flex;
    margin-top: 1%;
    // padding: 1rem;
    background-size: cover; 
    background-repeat:no-repeat;
    background-position: center;
    height: 40rem;
}

.amenities-subtitle {
    color: #FF926A;
    font-size: 22px;
    font-style: italic;
    margin: 15% 0 10% 0;
}

.body-empty {
    width: 55%;
}

.body-content {
    background-color: #141414BF;
    opacity: 90%;
    text-align: center;
    width: 45%;
    // align-items: center;
    // justify-content: center;
}

.amenities-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5%;
    display: inline-block;
    // width: 85%;
    // max-width: 220px;
    // float: right;
}

// TODO: center this
.amenities-body li {
    display: inline-block;
    font-size: 20px;
    // margin-left: 0;
    padding: 8% 5%;
    border-bottom: 1px solid #B5B3B3;
    width: 90%;
    // max-width: 220px;
    // text-align: center;
}

.amenities-body li:hover {
    background: #5e5e5e;
    transition: all 400ms;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

@media only screen and (max-width: 985px) {
    /* For tablet: */
    .large-time { font-size: 64px;}
    .body-empty { width: 0;}
    .body-content { width: 100%;}
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .option-amenities { padding: 1.5rem 1.5rem; } /* Reduce the container width */
    #date {font-size: 20px; margin-top: 16px;} 
    #time { font-size: 30px;}
    .amenities-body { height: 850px; background-position: center;}
  }