.option-restrooms {
    background-color: #18191D; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px 50px ;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.restrooms-header {
    display: flex;
    justify-content: space-between;
    .restroom-headleft {
        height: 140px;
        flex-basis: 15%;
    }
    .restrooms-title {
        display: inline-block;
        align-self: flex-end;
        // margin-left: 14%;
        // font-size: 3.875rem;
        margin-top: 0;
        #title-regular {
            font-size: 3.875rem;
            font-weight:normal;
            margin: 0;
        }
    }
}

.restrooms-divider {
    margin-left: 5%;
}

.floor {
    margin-left: 5%;
    width: 35%;
    .choose {
    display: flex;
    align-items:center;
    justify-content: space-between;
    .choose-title {
        font-size: 1.625rem;
        font-weight:normal;
        color: #F1F1F1;
        margin: 12px 0;
    }
    .side-line { width: 25%; margin: 0; }
    }
    .floors {
    display: flex;
    justify-content: space-between;
    height: 67px;
    button {
        width: 30%;
        font-size: 1.625rem;
        color: #F1F1F1;
        border: 2px solid #05818A;
        background-color: transparent;
    }
    #casino {
        background-color: #05818A;
    }
}
}

.restroom-map {
    margin: 3% 0 13% 5%;
    // margin-left: 5%;
    overflow: auto;
    img {
        // height: auto;
        // min-height: 30vh;
        // max-width: 100%;
        // vertical-align: middle;
        // object-fit: fill;
        max-height: 65vh;
        transition: all 2s ease-in-out;
    }
}

.restroom-map::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    // background-color: #F5F5F5; 
}
.restroom-map::-webkit-scrollbar {
    width: 4px;
    // background-color: #F5F5F5;
}
.restroom-map::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555555af;
}


[class*="col-"] {
    width: 100%;
    float: left;
  }

  @media only screen and (max-width: 1024px) {
    .floor .choose .choose-title, .floor .floors button {font-size: 1.5rem;}
  }

  @media only screen and (max-width: 924px) {
    .restrooms-header .restrooms-title #title-regular { font-size: 3rem;}
  }

  @media only screen and (min-width: 768px) {
    .restroom-map { 
        img { height: auto;
            min-height: 30vh;
            max-width: 100%;
            vertical-align: middle;
            object-fit: fill; }}
  }

  @media only screen and (max-width: 768px) {
    .option-restrooms { padding: 1.5rem 1.5rem; } 
    .floor { margin-left: 0; }
    .floor .choose .choose-title, .floor .floors button {font-size: 1.3rem;}
    .floor .floors { height: 55px;}
  }

  @media only screen and (max-width: 720px) { 
    // .choose-title { font-size: 1.625rem; }
  }



  @media only screen and (min-width: 721px) { 
    //   For Tablet & bigger
    .restrooms-line { position: absolute; bottom: 75px; right: 50px; width: 40%;
        #vida-action { float: right;}}
    .floor { display: flex; flex-direction: column;  position: absolute; bottom: 35px; left: 50px; }
    .floor :nth-child(1) {order: 2; }
    .floor :nth-child(2) {order: 1; flex-direction: row-reverse; }
  } 

@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    .restrooms-header { flex-direction: column; 
        .restroom-headleft { height: auto; }
        .restrooms-title { float: bottom; 
            #title-regular { font-size: 2.5rem; }}}
    .restrooms-divider { margin-left: 0; }
// .restrooms-header :nth-child(1) {order: 2;}
.restrooms-header :nth-child(2) {order: 3;}
// .restrooms-header :nth-child(3) {order: 1;}

    .floor { width: 100%; }
    .restroom-map { margin-left: 0; }
  }
