.option-rooms {
    background-color: #14171B; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px 35px ;
    max-width: 1440px;
    margin: 0 auto;
}

.rooms-divider {
    margin-left: 8%;
}

.rooms_stuff {
    display: flex;
    z-index: 0;
    position: relative;
}

 // ************ Room menus ************

 .rooms_menu {
	display: flex;
  justify-content: space-between;
  margin-left: 8%;
  z-index: 1;
  width: 100%;
}

.rate-box {width: 420px;}
  .allrooms-box {width: 280px;}
  .addcode-box {width: 400px;}
  
 .select-box {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 22px;
	background: #4d555f;
  display: flex;
  flex-direction: column;

  .rate-options-container, 
  .allrooms-options-container, 
  .addcode-options-container {
		background: #14171B;
		color: #f5f6fa;
		max-height: 0;
		width: 100%;
		opacity: 0;
		transition: all 0.4s;
    overflow: hidden;

		order: 1;
  }

  .rate-options-container.active, 
  .allrooms-options-container.active, 
  .addcode-options-container.active {
		max-height: 100%;
		opacity: 1;
		+ {
			.rate-selected {
				&::after {
					transform: rotate(180deg);
					top: -10px;
				}
			}
		}
  }
  
  .rate-option, .allrooms-option, .addcode-option {
		padding: 12px 24px;
		cursor: pointer;
		&:hover {
			background: #414b57;
		}
		.radio {
			display: none;
		}
  }

	label {
		cursor: pointer;
	}
 }

 .rate-selected, .allrooms-selected, .addcode-selected {
	background: #14171B;
	border-bottom: 1px solid white;
	color: #FFF2F2;
	position: relative;
	order: 0;
	padding: 12px 24px;
  cursor: pointer;
  position: relative;
	&::after {
    content: '';
    display: block;
		background: url("/src/images/arrow-down.svg");
		fill: white;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		height: 100%;
		width: 32px;
		right: 10px;
		top: 12px;
		transition: all 0.2s;
	}
}

.selected {
	&:focus {
		border-top: 1px solid white;
	}
}
.option-divider {
	border-style: thin;
	width: 85%;
	margin-left: 24px;
}
.option-divider-last {
	width: 85%;
	margin-left: 24px;
	margin-bottom: 15px;
}


 // ************ Room items/cards ************

.room_items {
    padding: 0 5%;
    z-index: 0;
    position: absolute;
    top: 70px;
    left: 0;
}

.room_cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .room_cards-item {
    display: flex;
    padding: 4% 0;
    width: 100%;
  }
  
  /* @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  } */
  
  .room_card {
    /* background-color: white; */
    // border-radius: 0.25rem;
    /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
    display: flex;
    flex-direction: row;
    // overflow: hidden;
    width: auto;
  }

  .room_card-image img {
    // max-height: 65vh;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    object-fit: fill;
    min-width: 340px;
  }

  .room_card-content {
      margin-left: 14%;
    /* padding: 1rem; */
    // background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    /* display: inline-block; */
    // width: max-content;
  }
  
  .room_card-title {
    // padding: 1rem;
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
  }

  .room_card-detail {
      margin-left: 10%;
      width: 100%;
      
  }
  
.room_price-book {
    width: 520px;
    height: 76px;
    margin: 10% 0;
}

.room_price {
    width: 50%;
    background-color: black;
    float: left;
    margin: 0;
    height: 100%;
    text-align: center;
    padding-top: 15px;
    font-size: 2.4rem;
    color: #FFF2F2;
}

.room_book{
    width: 50%;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

  
  .btn:hover {
    transform: scale(1.1);
    background-color: #1DE6D9;
  }  

  .room_card-specs p {
      font-size: 22px;
      color: #FFF2F2;
  }

  .spec-divider {
      width: 50%;
      float: left;
  }


  .room-divider {
    width: 100%;
  }


  // ************ Responsive layouts ************
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }