
.class-for-home{
    background-color: #18191D; 
}


.home-image{
   background-image:url('../images/Cogenic.png');
    //    position:absolute;
    display: block;
    width:auto;
    height:auto;
    padding:70px 100px;
    margin-left:auto;
    margin-right:auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

}

.Error-Login{
    background-color: white;
    font-size:24px;
    color:red;
    width:50%;
    text-align:center;




}

.box{
    position:absolute;
    padding:5% 3%;
    width: 300px;
    height: 200px;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    display: block;
    margin-top:2%;
    background-color:white;
    border-radius:15px;
    border: 1px solid white;

}

.Login-text{
    width:30%;
    margin:-7% 0%;;

}

.form-control{
    height:40px;
    width:300px;
}

.box .form-group{
    margin:4% 0%;
    font-size:20px;
}


.welcome {
    background-color: black;

}

.welcome-hello {
    position:absolute;
    top:0 ;
    font-size:relative;
    font-size:6vw;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top:30px;
    margin-bottom:10px;
    color:white;
    font-family: "Lucida Console", Courier, monospace;
}

.highlight {
    position: absolute;
    margin-left:30%;
    bottom:25%;
}
.Begin{

    position:absolute;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 15px solid blue;
    bottom:20%;
    margin-left:37%;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    cursor: pointer

}

#center{
    width: 40vw;
    height:50vh;
}

.highlight input:hover{
    opacity: .5;
}

.vida-welcome{
    width: 100px;

}
a {
  color: #fff;
}

main {
  min-height: 80vh;
  background: #fff;
}

main .controls {
  text-align: center;
  padding: 0.5em 0;
  background: #333e5a;
  color: #fff;
}
main canvas {
  padding: 20px;
  margin: 0 auto;
  display: block;
}
